<nz-layout class="layout">
  <!-- 头部 -->
  <nz-header class="header">
    <app-header></app-header>
  </nz-header>
  <!-- 内容区域 -->
  <nz-layout class="content">
    <!-- 左侧导航 -->
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item>
          <i nz-icon nzType="file"></i>
          <span>文件中心</span>
        </li>
        <li nz-submenu nzTitle="系统管理" nzIcon="team">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <i nz-icon nzType="user"></i>
              <a [routerLink]="['/', 'components', 'menu', 'zh']">用户中心</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <i nz-icon nzType="usergroup-add"></i>
              <a [routerLink]="['/', 'components', 'menu', 'zh']">角色管理</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <i nz-icon nzType="apartment"></i>
              <a [routerLink]="['/', 'components', 'menu', 'zh']">资源管理</a>
            </li>
          </ul>
        </li>
        <li nz-menu-item nzMatchRouter>
          <i nz-icon nzType="setting"></i>
          <a [routerLink]="['/', 'components', 'menu', 'zh']">设置</a>
        </li>
      </ul>
    </nz-sider>
    <!-- 右侧内容区域开始 -->
    <nz-layout>
      <!-- 选项卡导航 -->
      <app-tabset></app-tabset>
      <nz-content>
        <div class="inner-content">
          <router-outlet [ngStyle]="{'height':'100%'}"></router-outlet>
        </div>
      </nz-content>
      <!-- 右侧内容区域结束 -->
      <!-- <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer> -->
    </nz-layout>
  </nz-layout>
</nz-layout>
